<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Rydereng.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup><userSettings>
        <Rydereng.My.MySettings>
            <setting name="mailfarbapozadiatb3" serializeAs="String">
                <value />
            </setting>
            <setting name="mailfarbafontu" serializeAs="String">
                <value />
            </setting>
            <setting name="mserver" serializeAs="String">
                <value />
            </setting>
            <setting name="mymail" serializeAs="String">
                <value />
            </setting>
            <setting name="language" serializeAs="String">
                <value />
            </setting>
            <setting name="lastuser" serializeAs="String">
                <value />
            </setting>
            <setting name="mailformbgcolor" serializeAs="String">
                <value>SlateGray</value>
            </setting>
            <setting name="ryderbackgroundcolortexboxu" serializeAs="String">
                <value>PaleGoldenrod</value>
            </setting>
            <setting name="ryderforecolortext" serializeAs="String">
                <value>RoyalBlue</value>
            </setting>
            <setting name="ryderfont" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="rydersizeonload" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="heslo" serializeAs="String">
                <value />
            </setting>
            <setting name="firstday" serializeAs="String">
                <value />
            </setting>
            <setting name="pocetspusteni" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="hesloback" serializeAs="String">
                <value />
            </setting>
            <setting name="form5font" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="horizontal" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="vertical" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="regday" serializeAs="String">
                <value />
            </setting>
            <setting name="regweek" serializeAs="String">
                <value />
            </setting>
            <setting name="regmonth" serializeAs="String">
                <value />
            </setting>
            <setting name="regyear" serializeAs="String">
                <value />
            </setting>
            <setting name="mena" serializeAs="String">
                <value />
            </setting>
            <setting name="lstselect" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="reporti" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="user" serializeAs="String">
                <value />
            </setting>
            <setting name="isotext" serializeAs="String">
                <value />
            </setting>
            <setting name="topmargin" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="leftmargin" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="notokbackcolor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="okbackcolor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="notoktext" serializeAs="String">
                <value>-</value>
            </setting>
            <setting name="oktext" serializeAs="String">
                <value>|</value>
            </setting>
            <setting name="okforecolor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="okfont" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="notokfont" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="notokforecolor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="dialog4" serializeAs="String">
                <value />
            </setting>
            <setting name="mailsign" serializeAs="String">
                <value />
            </setting>
            <setting name="dokumenty" serializeAs="String">
                <value />
            </setting>
            <setting name="order" serializeAs="String">
                <value />
            </setting>
            <setting name="priorita" serializeAs="String">
                <value />
            </setting>
            <setting name="device" serializeAs="String">
                <value />
            </setting>
            <setting name="timebarcodeidle" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="groups" serializeAs="String">
                <value />
            </setting>
            <setting name="devpermision" serializeAs="String">
                <value />
            </setting>
            <setting name="company" serializeAs="String">
                <value />
            </setting>
            <setting name="registrationdate" serializeAs="String">
                <value />
            </setting>
            <setting name="adminheslo" serializeAs="String">
                <value />
            </setting>
            <setting name="devreptimed" serializeAs="String">
                <value />
            </setting>
            <setting name="devreptimew" serializeAs="String">
                <value />
            </setting>
            <setting name="devreptimem" serializeAs="String">
                <value />
            </setting>
            <setting name="devreptimey" serializeAs="String">
                <value />
            </setting>
            <setting name="scanerinput" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="verzia" serializeAs="String">
                <value />
            </setting>
        </Rydereng.My.MySettings>
    </userSettings>
</configuration>
